html {
    font-family: 'Athiti', sans-serif;
      line-height: 1.15;
      -webkit-text-size-adjust: 100%;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    
    article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
      display: block;
    }
    
    body {
      margin: 0;
      font-family: 'Athiti', sans-serif;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #4e4e4e;
      text-align: left;
      background-color: rgb(241, 238, 238);
    }
    
    #mainNav {
      padding-top: 1rem;
      padding-bottom: 1rem;
      background-color: #212529;
    }
    #mainNav .navbar-toggler {
      padding: 0.75rem;
    font-family: 'Athiti', sans-serif;  font-size: 0.75rem;
      color: #fff;
      text-transform: uppercase;
      background-color: #212445;
      border: 0;
    }
    #mainNav .navbar-brand {
      color: #fed136;
    font-family: 'Athiti', sans-serif;  font-weight: 700;
      letter-spacing: 0.0625em;
      text-transform: uppercase;
    }
    #mainNav .navbar-brand img {
      height: 1rem;
    }
    #mainNav .navbar-nav .nav-item .nav-link {
      font-family: 'Athiti', sans-serif;
       font-size: 1.3rem;
      color: #fff;
      letter-spacing: 0.0625em;
    }
    #mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
      color: #0519E3;
    }
    
    @media (min-width: 992px) {
      #mainNav {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        border: none;
        background-color: transparent;
        transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
      }
      #mainNav .navbar-brand {
        font-size: 1.5em;
        transition: font-size 0.3s ease-in-out;
      }
      #mainNav .navbar-brand img {
        height: 5rem;
        transition: height 0.3s ease-in-out;
      }
      #mainNav.navbar-shrink {
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-color: #212529;
      }
      #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.25em;
      }
      #mainNav.navbar-shrink .navbar-brand svg,
    #mainNav.navbar-shrink .navbar-brand img {
        height: 5rem;
      }
      #mainNav .navbar-nav .nav-item {
        color: #495057;
        margin-right: 1rem;
      }
      #mainNav .navbar-nav .nav-item:last-child {
        color: #495057;
        margin-right: 0;
      }
    }
    
  
    h4{
      text-align: center;
    }
    .form-inline{
      padding-left: 6rem;
    }
    button{
      float: right;
    }
    
    footer{
      font-family: monospace;
      text-align: center;
      font-size: 15px;
    }
    img{
      width: 5rem;
    }
    
    a:hover{
      color: #67ebfa;
    }
    .img{
      width: 4rem;
    }
    #navbarNavDropdown{
      font-family: 'Athiti', sans-serif;
      font-size: 1.2rem;
      padding-right: 4rem;
    
    }
    h3{
      font-family: 'Athiti', sans-serif;
      padding-top: 2rem;
      padding-left: 2rem;
      color: aliceblue;
    }

    /* Global CSS, you probably don't need that */

.clearfix:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
}

.container {
font-family: 'Lato', sans-serif;
width: 1000px;
margin: 0 auto;
}

.wrapper {
display: table-cell;
height: 400px;
vertical-align: middle;
justify-content:center ;
}

.nav {
margin-top: 40px;
}

.next{
  float: right;
}
.pull-right {
    float: right;
}

a, a:active {
color: #333;
text-decoration: none;
}

a:hover {
color: #999;
}

/* Breadcrups CSS */

.arrow-steps .step {
font-size: 14px;
text-align: center;
color: #666;
cursor: default;
margin: 0 3px;
padding: 10px 10px 10px 30px;
min-width: 180px;
float: left;
position: relative;
background-color: #d9e3f7;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none; 
transition: background-color 0.2s ease;
}

.arrow-steps .step:after,
.arrow-steps .step:before {
content: " ";
position: absolute;
top: 0;
right: -17px;
width: 0;
height: 0;
border-top: 19px solid transparent;
border-bottom: 17px solid transparent;
border-left: 17px solid #d9e3f7;	
z-index: 2;
transition: border-color 0.2s ease;
}

.arrow-steps .step:before {
right: auto;
left: 0;
border-left: 17px solid #fff;	
z-index: 0;
}

.arrow-steps .step:first-child:before {
border: none;
}

.arrow-steps .step:first-child {
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
}

.arrow-steps .step span {
position: relative;
}

.arrow-steps .step span:before {
opacity: 0;
content: "✔";
position: absolute;
top: -2px;
left: -20px;
}

.arrow-steps .step.done span:before {
opacity: 1;
-webkit-transition: opacity 0.3s ease 0.5s;
-moz-transition: opacity 0.3s ease 0.5s;
-ms-transition: opacity 0.3s ease 0.5s;
transition: opacity 0.3s ease 0.5s;
}

.arrow-steps .step.current {
color: #fff;
background-color: #23468c;
}

.arrow-steps .step.current:after {
border-left: 17px solid #23468c;	
}