html {
    font-family: 'Athiti', sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    
    article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
        display: flex;
    }
    
    body {
    margin: 0;
    font-family: 'Athiti', sans-serif;
    font-size: 1rem;
    font-weight: 800;
    line-height: 1.5;
    color: #4e4e4e;
    text-align: center;
    background-image: url('./img/bglogin.jpg'); 
   }
   header{
    padding-top: 20px;
   }
   img{
       width: 100px;
   }
   #uplogo{
       width: 100px;
   }
   
   #nextlogo{
       width: 200px;
       padding-top: 50px;
   }
   #navbarNavDropdown{
       display: flex;
       padding-top: 50px;
   }
    h2{
        font-weight: 500;
    }
  
nav{
    padding-top: 15px;
    padding-right: 15px;
}