@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

th{
  width: 10px;
}

/* html {
    font-family: 'Athiti', sans-serif;
    line-height: 1.15;
    
} */

body {
    font-family: 'Athiti', sans-serif;
    margin-top: 0rem;
    text-align: center;
    color: #d61717;
   
}

input {
    padding: 1rem 3rem;
}
     
img{
  width: 4rem;
}
#uplogo{
    width: 100px;
}

#nextlogo{
    width: 200px;
    padding-top: 50px;
}

.sub-text{
    font-family:'Athiti', sans-serif ;
    /* padding-top: 10px; */
}

.input {
    display: block;
}

.form-register {
    display: flex;
    padding-left: 5rem;
}

.success {
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #3c763d;
    color: #3c763d;
    background: #dff0d8;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
}

.error {
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #a94442;
    color: #a94442;
    background: #f2dede;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
}

.back-btn{
    display: flex;
    justify-content: end;
}
   
#mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #212529;
  }
  #mainNav .navbar-toggler {
    padding: 0.75rem;
    font-family: 'Athiti', sans-serif;  font-size: 0.75rem;
    color: #fff;
    text-transform: uppercase;
    background-color: #212445;
    border: 0;
  }
  #mainNav .navbar-brand {
    color: #fed136;
    font-family: 'Athiti', sans-serif;  font-weight: 700;
    letter-spacing: 0.0625em;
    text-transform: uppercase;
  }
  #mainNav .navbar-brand img {
    height: 1rem;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
      font-family: 'Athiti', sans-serif;
     font-size: 1.3rem;
    color: #fff;
    letter-spacing: 0.0625em;
  }
  #mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #0519E3;
  }
  
  @media (min-width: 992px) {
    #mainNav {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      border: none;
      background-color: transparent;
      transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
    }
    #mainNav .navbar-brand {
      font-size: 50px;
      transition: font-size 0.3s ease-in-out;
    }
    #mainNav .navbar-brand img {
      height: 5rem;
      transition: height 0.3s ease-in-out;
    }
    #mainNav.navbar-shrink {
      padding-top: 1rem;
      font-size: 50px;
      padding-bottom: 1rem;
      background-color: #212529;
    }
    #mainNav.navbar-shrink .navbar-brand {
      font-size: 50px;
    }
    #mainNav.navbar-shrink .navbar-brand svg,
  #mainNav.navbar-shrink .navbar-brand img {
      height: 5rem;
    }
    #mainNav .navbar-nav .nav-item {
      color: #495057;
      font-size: 50px;
      margin-right: 1rem;
    }
    #mainNav .navbar-nav .nav-item:last-child {
      color: #495057;
      margin-right: 0;
      font-size: 50px;
    }
  }

  .form-inline{
    padding-left: 6rem;
  }
  button{
    float: right;
  }
 
  a:hover{
    color: #67ebfa;
  }

  #navbarNavDropdown{
    font-family: 'Athiti', sans-serif;
    font-size: 1.2rem;
    padding-right: 4rem;
  
  }
  h3{
    font-family: 'Athiti', sans-serif;
    padding-top: 1rem;
    padding-left: 2rem;
    color: #fff;
  }